body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    zoom: 0.87;
    background-color: black;
}

canvas {
    border-bottom: 10px solid red;
}

#back-btn {
    position: fixed;
    top: 2%;
    left: 1%;
    width: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    filter: invert(1);
}